<!-- About Section -->
    <section id="people">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">People</h2>
                </div>
            </div>
            <br><br>


              <div class='row'>
                  <div class="container">
                  <div class='col-md-1 vcenter'>
                  </div>
                  <div class='col-md-2 vcenter'>
                  <br><br>
                  <img class='img-responsive img-rounded ' src='/img/mugshot-spruce2.jpg' /> <br>
                  <a href="/papers/CoreyLesk_CV_2026_fr.pdf" target="_blank" class="btn btn-primary" title="Download CV as PDF">Download CV</a>
                </div> <br> <br>
                <div class='col-md-7'>
                <p>
              <strong>Corey Lesk</strong> is an Assistant Professor in Earth and atmospheric science at UQÀM in Montréal (since 2025). Previously, he was a Neukom Institute and Fonds de recherche du Québec Postdoctoral Fellow in the Department of Geography at Dartmouth College. He completed his PhD at Lamont-Doherty Earth Observatory in 2022, and his BSc in Earth system science at McGill in 2015.</a></p>
            </div>
              <div class="col-md-1 text-center">
                <br>
                  <ul class="list-inline social-buttons">
                      <li><a href="mailto:lesk.corey@uqam.ca"><i class="fa fa-envelope"></i></a>
                      </li>
                  </ul>
                  <br>
                </div>
            </div>
            <br><br>
           
        
        
        </div>
        </div>
    </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>