<!-- Services Section -->
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
    <section id="papers">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <p><strong>	Selected publications: </strong> 
                

                &diams;Lesk, C., Anderson, W., Rigden, A., Coast, O., Jägermeyr, J., McDermid, S., Davis, K. F., & Konar, M.** (2022). *Compound heat and moisture extreme impacts on global crop yields under climate change.* *Nature Reviews Earth & Environment, 3*(12), 872–889. DOI: [10.1038/s43017-022-00368-8](https://doi.org/10.1038/s43017-022-00368-8)

                &diams;Lesk, C., Coffel, E. D., Winter, J. M., Ray, D. K., Zscheischler, J., Seneviratne, S. I., & Horton, R. M. (2021). Stronger temperature–moisture couplings exacerbate the impact of climate warming on global crop yields.* *Nature Food, 2*(9), 683–691. DOI: [10.1038/s43016-021-00341-6](https://doi.org/10.1038/s43016-021-00341-6)

                &diams;Lesk, C., Anderson, W., Weston, E.** (2021). *Decadal variability modulates trends in concurrent heat and drought over global croplands.* *Environmental Research Letters, 16*(5), 055024. DOI: [10.1088/1748-9326/abeb35](https://doi.org/10.1088/1748-9326/abeb35)

                &diams;Lesk, C.S., Winter, J.M., & Mankin, J.S.** (2025). *Projected runoff declines from plant physiological effects on precipitation.* *Nature Water, 3*, 167–177. DOI: [10.1038/s44221-024-00361-z](https://doi.org/10.1038/s44221-024-00361-z)

                &diams;Lesk, C., Rowhani, P., & Ramankutty, N.** (2016). *Influence of extreme weather disasters on global crop production.* *Nature, 529*(7584), 84–87. DOI: [10.1038/nature16467](https://doi.org/10.1038/nature16467)

</div>
                <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>
            
        </div>
    </section>
